<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.farmers_plaza.farmersplaza">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ParseStart"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="hbt4JEmtcJ2wBYSL289AgeMcN1KtruvUpZkm81l7" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="weBWo3u99cyU2aP61hW1klpF4tV6wStIPoxqBUte" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.general.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".general.LoginActivity"></activity>
    </application>

</manifest>
